.frontPageSegment{
    display: flex;
    height: 100vh;
}

.frontPagePhoto{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: black;
}

.frontPageImage{
    width: 100%;
    height: auto;
}

.FrontPagetext{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 20%;
    align-items: flex-end;
    text-align: right;
    padding: 5vh;
    margin: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    z-index: 2;
    color: white;
    gap: 10px;
}

.frontPageTextTitle{
    font-weight:bolder;
    font-size: 50px;
}

.frontPageTextParagraph{
    font-size: 20px;
}

.underLinedSimpleButton{
    all: unset;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}
