.images{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
}

.imageCard{
    display: flex;
    background-color: white;
    max-width: 50px;
    max-height: 50px;
}