body {
    margin: 0;
}
header {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;

    text-align: center;
    font-family: Arial, sans-serif;

    height: 10vh;
    width: 100%;

    z-index: 100;
}

.logo {
    height: 100%;
    align-self: flex-start;
    margin-left: 8vh;
}

.logocontainer {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-buttons {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.headerbutton {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: medium;

    color: rgb(255, 0, 255);
}