body {
    margin: 0;
}


header {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;

    text-align: center;
    font-family: Arial, sans-serif;

    height: 10vh;
    width: 100%;

    z-index: 100;

    a {
        all: unset;
    }
}

.logo {
    height: 100%;
    align-self: flex-start;
    margin-left: 5vh;
    margin-top: 2vh;
    cursor: pointer;
}

.logocontainer {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-buttons {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.headerbutton {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: medium;

    color: rgb(255, 0, 255);

    transition: 1s;
}

.headerbutton:hover {
    color: aqua;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0;
    background: #ad3d97;
    color: white;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: fit-content;
}

.footer-col {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;

    p {
        margin: 0.5%;
    }

    a {
        all: unset;
        color: white;
        cursor: pointer;
        width: fit-content;
        margin: 0.5%;
    }

    h4 {
        margin-top: 5%;
        padding: 0;
    }

    
}

.rightCol {
    text-align: right;
}

.socialMedias {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.break {
    padding-bottom: 10%;
}

.copyright {
    justify-content: flex-end;
    text-align: center;

    background-color: black;
}