body {
  min-height: 100vh;
  overflow-x: hidden;
}

.boxWithCoolBackGround {
  top: 0;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

.bgBack {
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: #00ff26; /* bottom/base color (blue) */
  
}

.bgFront {
  pointer-events: none;
  z-index: -10;
  content: "";
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  background: #000000;

  -webkit-mask-image: url("../Resources/images/Gradient_mask3.png");
  mask-image: url("../Resources/images/Gradient_mask3.png");

  -webkit-mask-size: cover 100%;
  mask-size: cover 100%;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.footFiller{
  display: flex;
  height: 250px;
  width: 100%;
}

.headFiller{
  display: flex;
  height: 100px;
  width: 100%;
}
