body {
  min-height: 100vh;
  overflow-x: hidden;
}

.boxWithCoolBackGround {
  z-index: -3;
  top: 0;
  position: relative;
  width: 100vw;
  height: 200vh;
}

.bgBack {
  width: 100%;
  height: 100%;
  background: #00ff26; /* bottom/base color (blue) */
  position: absolute;
}

.bgFront {
  content: "";
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  background: #000000;

  -webkit-mask-image: url("../Resources/images/Gradient_mask3.png");
  mask-image: url("../Resources/images/Gradient_mask3.png");

  -webkit-mask-size: cover 100%;
  mask-size: cover 100%;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
